@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "lilliput";
  src: url(/public/fonts/lilliput-steps.regular.otf) format("opentype");
}

body {
  margin: 0;
  background-color: #161616;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.color-picker .react-colorful {
  width: 20rem;
}

@keyframes scaleUp {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.scale-up {
  animation: scaleUp 0.2s forwards;
}
